<%- include('header'); -%>
<body>
    <h3>Jobs below</h3>
    <div class="row">
        <% for (var i =0; i < results.length; i++) { %>
                <div class="col s12 m4 l4">
                    <div class="card">
                        <h4 class="card-title"><%= results[i].title %></h4>
                        <p class="card-content"><%= results[i].descriptions %></p>
                        <p class="card-content"><%= results[i].salary %></p>
                    </div>
                </div>
            
        <% } %>
    </div>
<%- include('footer') -%>